<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MARGAS3</display-name>
  <welcome-file-list>
    <welcome-file>IniciarSesion.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>util.DataBaseException</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <filter>
    <display-name>ClientValidation</display-name>
    <filter-name>ClientValidation</filter-name>
    <filter-class>filtros.ClientValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClientValidation</filter-name>
    <url-pattern>/CLIENTE/*</url-pattern>
    <servlet-name>PedidoSL</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoSL</display-name>
    <servlet-name>PedidoSL</servlet-name>
    <servlet-class>servlets.PedidoSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoSL</servlet-name>
    <url-pattern>/PedidoSL</url-pattern>
    <url-pattern>/pedido</url-pattern>
    <url-pattern>/pedidosl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminValidation</display-name>
    <filter-name>AdminValidation</filter-name>
    <filter-class>filtros.AdminValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminValidation</filter-name>
    <url-pattern>/ADMIN/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarDatosSL</display-name>
    <servlet-name>ModificarDatosSL</servlet-name>
    <servlet-class>servlets.ModificarDatosSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarDatosSL</servlet-name>
    <url-pattern>/ModificarDatosSL</url-pattern>
    <url-pattern>/modificardatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelarPedidoSL</display-name>
    <servlet-name>CancelarPedidoSL</servlet-name>
    <servlet-class>servlets.CancelarPedidoSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarPedidoSL</servlet-name>
    <url-pattern>/CancelarPedidoSL</url-pattern>
    <url-pattern>/cancelarpedido</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ServletsValidation</display-name>
    <filter-name>ServletsValidation</filter-name>
    <filter-class>filtros.ServletsValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServletsValidation</filter-name>
    <servlet-name>CancelarPedidoSL</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServletsValidation</filter-name>
    <servlet-name>ModificarDatosSL</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServletsValidation</filter-name>
    <servlet-name>Logout</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServletsValidation</filter-name>
    <servlet-name>PedidoSL</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarUsuarioSL</display-name>
    <servlet-name>BuscarUsuarioSL</servlet-name>
    <servlet-class>servlets.BuscarUsuarioSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarUsuarioSL</servlet-name>
    <url-pattern>/BuscarUsuarioSL</url-pattern>
    <url-pattern>/buscarusuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>util.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCuentaSL</display-name>
    <servlet-name>CrearCuentaSL</servlet-name>
    <servlet-class>servlets.CrearCuentaSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCuentaSL</servlet-name>
    <url-pattern>/CrearCuentaSL</url-pattern>
    <url-pattern>/crearcuenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidosPendientesSL</display-name>
    <servlet-name>PedidosPendientesSL</servlet-name>
    <servlet-class>servlets.PedidosPendientesSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidosPendientesSL</servlet-name>
    <url-pattern>/PedidosPendientesSL</url-pattern>
    <url-pattern>/pedidospendientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CobrarPedidoSL</display-name>
    <servlet-name>CobrarPedidoSL</servlet-name>
    <servlet-class>servlets.CobrarPedidoSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CobrarPedidoSL</servlet-name>
    <url-pattern>/CobrarPedidoSL</url-pattern>
    <url-pattern>/cobrarpedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactarProveedorSL</display-name>
    <servlet-name>ContactarProveedorSL</servlet-name>
    <servlet-class>servlets.ContactarProveedorSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactarProveedorSL</servlet-name>
    <url-pattern>/ContactarProveedorSL</url-pattern>
    <url-pattern>/contactarproveedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RankingGarrafasSL</display-name>
    <servlet-name>RankingGarrafasSL</servlet-name>
    <servlet-class>servlets.RankingGarrafasSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankingGarrafasSL</servlet-name>
    <url-pattern>/RankingGarrafasSL</url-pattern>
    <url-pattern>/rankinggarrafas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraSL</display-name>
    <servlet-name>CompraSL</servlet-name>
    <servlet-class>servlets.CompraSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraSL</servlet-name>
    <url-pattern>/CompraSL</url-pattern>
    <url-pattern>/compra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteSL</display-name>
    <servlet-name>ReporteSL</servlet-name>
    <servlet-class>servlets.ReporteSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteSL</servlet-name>
    <url-pattern>/ReporteSL</url-pattern>
    <url-pattern>/reporte</url-pattern>
  </servlet-mapping>
</web-app>